        * {
            margin: 0;
            padding: 0;
        }
        
        @media screen and (min-width: 320px) {
            .headergrid {
                display: grid;
                grid-template-columns: 15% auto 15%;
                grid-template-rows: auto;
                justify-items: center;
                align-items: center;
                row-gap: 50px;
            }
            .user {
                height: 50px;
            }
            .logo {
                height: 80px;
            }
            .carrito {
                height: 50px;
            }
            .producto {
                height: 250px;
            }
            .gred2 {
                display: grid;
                justify-items: center;
            }
        }
        
        @media screen and (min-width: 900px) {
            header {
                display: grid;
            }
            .headergrid {
                grid-template-columns: 15% auto 15%;
                grid-template-rows: auto;
                grid-template-areas: "div", "h1", "div";
                grid-gap: 10px;
                justify-items: center;
                align-items: center;
            }
            nav {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto;
                justify-items: center;
                background-color: aquamarine;
                grid-gap: 40px;
            }
            section {
                display: grid;
                grid-template-columns: auto auto auto;
                background-color: blueviolet;
                justify-items: start;
                justify-content: space-between;
                grid-gap: 10px;
            }
            .producto {
                height: 200px;
            }
            .user {
                height: 50px;
            }
            .logo {
                height: 100px;
            }
            .carrito {
                height: 50px;
            }
            .pading {
                padding-top: 20px;
            }
        }